.icon-3 {
  display: inline-block;
  vertical-align: middle;
  width: 19.2rem;
  height: 5.1rem;
  background-image: url(/img/sprite.png);
  background-size: 19.2rem 5.1rem;
  background-position: 0rem 0rem;
}